* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background-image: url("../resources/wolkenundso.jpg");
  background-repeat: no-repeat;

}

input[type="submit"] {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  background: #f9b75d;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}

input[type="submit"]:hover {
  background: #f99853;
}
.logintext {
  text-align: center;
  margin-top: 20px;
}
.login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="email"],
input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 8px 0px;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background-color: #f99853;
}

@media (max-width: 950px) {
  body{
    background-size: 160vh;
  }
 
}
