* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}

.navlist {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}
.nav-item a {
  text-decoration: none;
  color: #000;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: #039d69;
}
.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.nav-item:first-child img {
  width: 40px;
  height: 40px;
}

.nav-item:last-child button,
input[type='submit'] {
  font-family: Montserrat, sans-serif;
  font-size: 1.3rem;
  background: #f9b75d;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.nav-item:last-child button:hover,
input[type='submit']:hover {
  background: #f99853;
}
#createform{
      display: flex;
    padding: 60px;
    justify-content: space-between;
}
.createtrip {
  
  background-color: #f2f2f2;
  padding: 20px;
  background-image: url('../resources/wolkenundso.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.6rem;
}
.createtrip input,
select {
  display: flex;
  flex-direction: column;
}

.createtrip input[type='submit'] {
  align-self: center;
}

input[type='text'],
input[type='date'],
#destination {
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type='text'] {
  padding: 10px 55px;
}
#destination {
  padding: 10px 0px;
}

.createtrip input[type='date'] {
  padding: 0 93px;
}

input[type='submit']:hover {
  background-color: #f99853;
}

.yourtrips {
  text-align: center;
  margin-top: 50px;
  display: flex;
}
.traveltext {
  text-align: center;
  padding-top: 30px;
  font-size: 3rem;
  color: #FFF;
  font-family: 'Trocchi', serif;
}

.trip {
  font-family: 'Trocchi', serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-direction: column;
  background-color:#f9b75d;
  width: 300px;
  height: auto;
  padding-bottom: 10px;
  border-radius: 25px;
  margin: 30px auto 30px;
}

.trip-element {
  overflow-wrap: break-word;
  margin-top: 10px;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.editButton {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 3px;
}

.deleteButton {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 3px;
}

.editButton:hover {
  background-color: #f9b75d;
}

.deleteButton:hover {
  background-color: #f9b75d;
}
.ballon{
  background-image: url("../resources/ballon3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 368px);
  font-size: 1.6rem;
  
}
@media (max-width: 950px) {
  .nav-item:first-child img {
    margin-left: 0;
  }
  .yourtrips {
    flex-direction: column;
  }
}
