body {
    background-color: lightblue;
}

.navbar {
    background-color: #efefef;
}

#logo {
    height: 150px;
    width: 150px;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

#banner {
    height: 9em;
    width: 30%;
    margin-left: 25em;
    justify-self: flex-end;
    align-self: flex-start;
}

#karte {
    width: 99vw;
}

.navbarLinks {
    display: flex;
    font-size: x-large;
    align-self: flex-end;
    justify-content: space-around;
}

.navbar {
    height: 200px;

}