#createform {
  display: flex;
  padding: 60px;
  justify-content: space-between;
}
.createtrip {
  background-color: #f2f2f2;
  padding: 20px;
  background-image: url('../../ressources/wolkenundso.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.6rem;
  width: 100%;
}
.createtrip label {
  font-size: 1rem;
}
.createtrip input,
select {
  display: flex;
  flex-direction: column;
}

.createtrip input[type='submit'] {
  align-self: center;
  margin-left: 20px;
}

input[type='text'],
input[type='date'],
#destination {
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type='text'] {
  padding: 10px 55px;
}
#destination {
  padding: 10px 0px;
}

.createtrip input[type='date'] {
  padding: 0 93px;
}

input[type='submit']:hover {
  background-color: #f99853;
}
